@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --google-blue: #1a73e8;
}

@layer base {
    html {
        overflow: hidden;
        background-color: var(--background-color);
        user-select: none;
    }

    img {
        color: transparent;
    }

    button {
        color: inherit;
    }

    select {
        background-color: transparent;
    }

    svg[type="icon"] {
        @apply tw-w-4 tw-h-4
    }

    body {
        @apply tw-grid;
        position: fixed;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: 58px 273px calc(100% - 331px);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    body>nav+group {
        grid-column: 1;
        grid-row: 2;
    }

    body>nav+side {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    body>nav+group+side {
        grid-column: 2;
        grid-row: 2;
    }

    body>nav+group+main {
        grid-column: 2 / -1;
    }

    body>nav+main {
        grid-column: 1 / -1;
    }

    body>:not(:not(script) + main):not(:not(next-route-announcer) + main):is(main) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    body>nav {
        grid-column: 3;
        padding: 0 32px 0 16px;
    }

    body>nav~section:first-of-type {
        grid-column: 1;
        grid-row: 1;
    }

    body>nav~section:last-of-type {
        grid-column: 2;
        grid-row: 1;
    }

    body>nav+group,
    body>group~section:first-of-type {
        box-shadow: -1px 0 0 var(--background-color) inset;
    }

    body>group,
    body>side,
    body>group+:not(side)~section:first-of-type,
    body>side~section {
        background-color: var(--foreground-color);
    }

    html:not(.bp4-dark) {
        --border: #252a31;
        --background-color: #f6f7f9;
        --foreground-color: #fff;
        --description: #abb3bf99;
    }

    html.bp4-dark {
        /* keep sync to blueprint */
        --border: #252a31;
        --background-color: #252a31;
        --foreground-color: #2f343c;
        --description: #abb3bf99;
    }

    .bp4-dark body {
        color: #F6F7F9;
    }

    html:not(.bp4-dark) .br {
        border-right: 1px solid rgb(17 20 24 / 15%);
    }

    html:not(.bp4-dark) .bl {
        border-left: 1px solid rgb(17 20 24 / 15%);
    }

    html:not(.bp4-dark) .bt {
        border-top: 1px solid rgb(17 20 24 / 15%);
    }

    html:not(.bp4-dark) .bb {
        border-bottom: 1px solid rgb(17 20 24 / 15%);
    }

    .bp4-dark .br {
        box-shadow: 1px solid hsla(0, 0%, 100%, .2) inset;
    }

    .bp4-dark .bl {
        border-left: 1px solid hsla(0, 0%, 100%, .2);
    }

    .bp4-dark .bt {
        border-top: 1px solid hsla(0, 0%, 100%, .2);
    }

    .bp4-dark .bb {
        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    }

    /* nextjs */
    nextjs-portal,
    next-route-announcer{
        display: none;
        visibility: hidden;
    }
}

/* modify blueprint */
.bp4-form-group.bp4-inline .bp4-label {
    width: 80px;
    text-align: right;
}

@layer components {
    .vbtn {
        @apply tw-w-full !tw-flex-col;
    }

    .vbtn>i {
        font-size: 10px;
        padding: 2px 6px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        @apply tw-w-full tw-overflow-hidden tw-text-center;
    }

    .avatar {
        @apply tw-rounded-full tw-object-cover tw-overflow-hidden;
        background-color: #000;
    }

    .panel {
        @apply tw-border dark: tw-border-slate-700 dark:tw-bg-slate-800 tw-border-slate-200 tw-right-0 tw-bg-white tw-py-4 tw-drop-shadow-md dark:tw-drop-shadow-lg tw-rounded-md tw-divide-y tw-w-32 tw-space-y-3;
    }

    .panel>* {
        padding: 0 2rem;
    }

    .center {
        @apply tw-flex tw-justify-center tw-items-center;
    }

    .blurbg {
        backdrop-filter: blur(8px);
    }

    /* notfound */
    .notfound {
        @apply tw-backdrop-blur;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* table */
    table thead {
        border-bottom: 1px solid var(--border);
    }

    table thead th {
        padding: 11px;
    }

    /* navlink */

    .navlink {
        display: flex;
        align-items: center;
        position: relative;
    }

    .navlink.end {
        flex-direction: row-reverse;
    }

    .navlink.active:not(.end)::before {
        transform: translateX(-13px);
    }

    .navlink.active.end::before {
        transform: translateX(13px);
    }

    .navlink:hover,
    .navlink.active {
        background-color: var(--action-background);
    }

    .navlink.active::before {
        content: "";
        width: 4px;
        background-color: var(--primary);
        border-radius: 4px;
        height: 24px;
    }

    /* spec page */
    .upload {
        width: 128px;
        height: 128px;
        border-radius: 5px;
        padding: 4px;
        box-sizing: border-box;
        position: relative;
        background-color: var(--foreground-color);
    }

    .upload input {
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
    }

    .upload>section {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px dashed var(--border);
    }
}

@layer utilities {}